<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página Inicial</title>
</head>
<body>

	<h1> Verificador de Situação </h1>
	
	<A  href = " cadastrarEstado " > Cadastrar Estado </a> <br/> <br/>
	<A  href = " cadastrarCidade " > Cadastrar Cidade </a> <br/> <br/>
	<A  href = " cadastrarCliente " > Cadastrar Cliente </a> <br/> <br/>
	<A  href = " cadastrarFornecedor " > Cadastrar Fornecedor </a> <br/> <br/>
	

</body>
</html>